/*div {
  border: solid 1px black;
}*/

.playerOne,
.playerTwo,
.chatRoom,
.container {
	border: solid 1px black;
}

.winner {
	border: solid 1px blue;
	font: 100px;
}

.playerOne {
  height: 200px;
 /* position: relative;*/
}

.playerTwo {
  height: 200px;
 /* position: relative;*/
}

.chatRoom {
  height: 200px;
  overflow: auto;
}

.oneWins {
	position: absolute;
	bottom: 0;
}

.oneLosses{
	position: absolute;
	bottom: 0;
}

.twoWins {
	position: absolute;
	bottom: 0;
}

.twoLosses{
	position: absolute;
	bottom: 0;
}

.choices {
  display: none;
}

.centerMsg {
	font-weight: bold;
	font-size: 24px;
}
